doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE-edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="description", content="")
        meta(name="author", content="")

        title= title

        link(href="/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet")
        link(href="/css/global.css", rel="stylesheet")

    body
        .site-wrapper
            .site-wrapper-inner
                .inner.cover
                    h1.cover-heading Ammbot
                    object(type="image/svg+xml", width="50px", height="50px", data="/img/like51.svg")
                    p.lead
                        img.img-circle(src=picUrl alt="...")
                    p.lead I am a man
                        i.fa.fa-angellist
